<h1>Listing customers</h1>

<table>
  <tr>
    <th>App name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.app_name %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<script src="Chart.js"></script>

<%= link_to 'New Customer', new_customer_path, id: 589 %>

<script>
 function clickEvent(){
 blocmetrics.track("new customer creation", {property_1: "some value", property_2: "some other value"})
    }

    $("#589").click(function(){clickEvent()});
    </script>